#footer{
    position: fixed;
    height: 500px;
    color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.selected_button{
    color: white;
    background-color: black;
}

body {
    /* margin-bottom:50px; */
}

.btn{
    width: 200px;
}